{% extends 'base.html' %}
{% load static %}

{% block title %}
    О компании
{% endblock title %}

{% block container %}

    <div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">О компании</h1>
          </div>
        </div>
      </div>
    </div>
    <br>
    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/static/images/about.jpg);">
						<a href="https://www.youtube.com/watch?v=uOCy_hQrexM" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Мы намного больше, чем просто интернет-магазин.</h2>
	            </div>
	          </div>
            <div class="pb-md-5">
				<p> Мы - команда энтузиастов китайской культуры и кулинарии, стремящаяся делиться своей страстью с миром. Основанный [год основания], наш магазин был создан из желания сделать китайскую кухню доступной для каждого, независимо от их опыта или местоположения.</p>
				<p>Наша миссия заключается в том, чтобы предоставить людям инструменты, знания и вдохновение для исследования богатства китайской кулинарии. Мы верим, что питание - это не просто потребление пищи; это погружение в историю, культуру и традиции. Каждый продукт, который мы предлагаем, от carefully curated spice blends до уникальных соусов, выбирается с учетом его истории и происхождения, чтобы убедиться, что вы получаете не только ингредиенты, но и часть культурного наследия.</p>
			</div>
		</div>
	</section>

		<hr>

    
{% endblock container %}